doctype html
//- 当前页面要求点击链接跳转到发布者的位置
//- 显示发布的主要信息
//- pug用tab建的缩进表示层级关系

html
  head
    title tyuleibbs
    link(rel="stylesheet", href="/index.css")
  body
    include header.pug

    div(class="post-container")
      div(class="post-content")
        ul
          each post in posts
            li.post-item
              div(class="container-img")
                div(class="flex")
                  img(src=post.avatar, alt=post.name, width="auto", height="100%")
              div(class="post-item-content")
                h2
                  a(href=`/post/${post.id}`)= post.title
                div(class="item-user")
                  span(class="username")= post.name
                  span(class="create-date") #{new Date(post.createAt).getMonth() + 1}月#{new Date(post.createAt).getDate()}日
              div(class="comment")
                span #{post.count}
            div(class="cross-line")


